.header {
  height: 550px;
  width: 1200px;
}

.background-image {
  height: 450px;
}

.navigate-bar {
  width: 1100px;
}

.main-container {
  width: 1100px;
  .left-main {
    width: 450px;
  }

  .right-main {
    width: 750px;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 1100px;
  }
}

@media (max-width: 1100px) {
  .header {
    height: 600px;
    width: 100%;
  }

  .background-image {
    height: 400px;
  }

  .avatar-container {
    width: 100%;
    align-items: center;
  }

  .user-info {
    flex-direction: column;
    bottom: 8rem;
  }

  .navigate-bar {
    width: 100%;
  }

  .main-container {
    width: 100%;
    .left-main {
      width: 400px;
    }

    .right-main {
      width: 700px;
    }
  }
}

@media all and (max-width: 1024px) {
  .header {
    height: 600px;
    width: 100%;
  }

  .background-image {
    height: 400px;
  }

  .avatar-container {
    width: 100%;
    align-items: center;
  }

  .user-info {
    flex-direction: column;
    bottom: 8rem;
  }

  .navigate-bar {
    width: 100%;
  }

  .main-container {
    width: 100%;
    .left-main {
      width: 350px;
    }

    .right-main {
      width: 650px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 500px;
    width: 100%;
  }

  .background-image {
    height: 300px;
  }

  .avatar-container {
    width: 100%;
    align-items: center;
  }

  .user-info {
    flex-direction: column;
    bottom: 8rem;
  }

  .navigate-bar {
    width: 100%;
  }

  .main-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .left-main {
      width: 100%;
    }

    .right-main {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  .header {
    height: 530px;
    width: 100%;
  }

  .background-image {
    height: 300px;
  }

  .user-info {
    flex-direction: column;
    bottom: 9.8rem;
  }
}
