@media screen and (max-height: 950px) {
  .image-playing {
    height: 700px;
  }
}

@media screen and (max-height: 900px) {
  .image-playing {
    height: 650px;
  }
}

@media screen and (max-height: 850px) {
  .image-playing {
    height: 600px;
  }
}

@media screen and (max-height: 800px) {
  .image-playing {
    height: 550px;
  }
}

@media screen and (max-height: 700px) {
  .image-playing {
    height: 500px;
  }
}

@media screen and (max-height: 650px) {
  .image-playing {
    height: 450px;
  }
}

@media screen and (max-height: 600px) {
    .image-playing {
      height: 400px;
    }
  }

.image-playing {
  max-height: 780px;
}
